In [ ]:
#LIST COMPREHENSION

In [3]:
#Print in uppercase names that start with "S" from a given list.
name_list=["Julio", "Seb", "Saul"]
s_names=[name.upper() for name in name_list if name[0]=="S"]
s_names

['SEB', 'SAUL']

In [5]:
#We want a list containing the squares of the numbers 1 to 10.
number_list=[number**2 for number in range(0,11)]
number_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#Create a new list, substituting "e's" for "a's" in each word in a given list.
words = ['barcelona', 'madrid', 'gerona', 'murcia']
new_words=[city.replace("e", "a")  for city in words]
new_words

['barcalona', 'madrid', 'garona', 'murcia']

In [7]:
#Let's create a list like the following one, but with all the words in uppercase using a loop (i.e. ignore the elements that are not strings)
list_of_words = ["barcelona", 2,  3, "madrid", "girona", 30, "murcia"]
just_words =[city.upper() for city in list_of_words if type(city)==str]
just_words

['BARCELONA', 'MADRID', 'GIRONA', 'MURCIA']

In [15]:
#Let's create a list with the numbers from 0 to 9 that are even.
even_numbers=[number for number in range(0,10) if number%2==0]
even_numbers

[0, 2, 4, 6, 8]

In [16]:
#We want a new list with words longer than 5 characters.
list_of_some_words = ['barcelona', 'madrid', 'gerona', 'murcia']
short_words= [city for city in list_of_some_words if (len(city)<5)]
short_words

[]

In [19]:
#Create a new list with only the names that start with e OR whose second last letter is "i" and capitalizes them.
list_of_names=["carmen", "elisa", "dominik","deb","juli", "sid"]

final_list_of_names=[name.capitalize() for name in list_of_names if ( name[0]=="e"  or name[-2]=="i" )]
final_list_of_names

['Elisa', 'Dominik', 'Sid']

In [ ]:
#DICTIONARY COMPREHENSION

In [20]:
#USEFUL ZIP FUNCTION--> CREATE A DICT OUT OF TWO LISTS
list_1=["a","b","c"]
list_2=[1,2,3]
dict_together= dict(zip(list_1,list_2))
dict_together

{'a': 1, 'b': 2, 'c': 3}

In [21]:
# Create a new dictionary, where the key is the same as dict_2
# but the value is "positive" if the key >= 0 , and "negative" key<0
dict_2 = {-10: "a", -5:"b", 10:"c"}

final_dict={key:("positive" if key>=0 else "negative") for key,value in dict_2.items()}
final_dict

{-10: 'negative', -5: 'negative', 10: 'positive'}

In [22]:
#Let's keep the values of the numbers list as the dictionary keys, and as the dictionary values, we want those numbers squared.
numbers_ = [1, 2, 3, 4, 5]
squared_dict = {num: num**2 for num in numbers_}
print(squared_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [24]:
#You have a list of words. Write a dictionary containing the length of each word.
list_of_words = ["football", "climbing", "swimming", "golf"]
new_dict=  {word: len(word) for word in list_of_words}
new_dict

{'football': 8, 'climbing': 8, 'swimming': 8, 'golf': 4}